.homePage .new-hp-wrap p,
.homePage .new-hp-wrap ul,
.homePage .new-hp-wrap ol {
    font-size: 20px;
    line-height: 30px;
    color: #333;
}

.tabs-brok-card-wrap .top-wrap .top-right img,
.compare-tab .tab-brok-row .col-logo img,
.tabs-brok-card-wrap .top-wrap .top-right picture,
.compare-tab .tab-brok-row .col-logo picture {
    /* transform: none; */
}

.homePage .new-hp-wrap h2 {
    font-size: 34px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 45px;
    text-transform: uppercase;
    color: #223144;
    text-align: center;
}

.homePage .new-hp-wrap p:last-of-type {
    margin-bottom: 0;
}

.homePage .new-hp-wrap p a {
    color: inherit;
    border-bottom: 1px solid #333;
}

.new_banner_bg .banner-bot-text h1,
.new_banner_bg .banner-bot-text h2,
.new_banner_bg .banner-bot-text h3,
.new_banner_bg .banner-bot-text h4,
.new_banner_bg .banner-bot-text h5,
.new_banner_bg .banner-bot-text p,
.new_banner_bg .banner-bot-text ol,
.new_banner_bg .banner-bot-text ul {
    color: #fff;
}

.slider-row .soc-slide .slide-wrap {
    min-height: inherit;
}

.slick-next:before {
    content: "";
}

.slick-prev:before {
    content: "";
}

footer .app-img {
    max-width: 305px;
}

.footer-appstore,
.footer-playmarket {
    max-width: 255px;
}

.select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

.broker-wrap .img-col img.img-list-default {
    max-width: unset;
}

.score-head {
    display: block;
    font-size: 12px;
    line-height: normal;
}

.score-head {
    /* display: flex; */
    width: 100%;
    text-align: center;
    font-size: 12px;
    line-height: normal;
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.chart .chart-inner {
    display: flex;
    width: 100%;
    flex-direction: column;
    z-index: 2;
    color: #7b7e91;
    position: relative;
    top: 41%;
    transform: translateY(-50%);
    /* align-items: center; */
    /* height: inherit; */
    /* justify-content: center; */
}

.wp-block-uagb-table-of-contents.uagb-toc__align-left {
    text-align: left;
}

.uagb-block-903894d2 .uagb-toc__wrap {
    border-style: solid;
    border-width: 4px;
    border-color: #0693e3;
    border-radius: 18px;
    padding-left: 34px;
    padding-right: 34px;
    padding-top: 11px;
    padding-bottom: 11px;
    background: #ffffff;
    width: 100%;
}

.wp-block-uagb-table-of-contents .uagb-toc__title-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wp-block-uagb-table-of-contents .uagb-toc__is-collapsible.uagb-toc__title-wrap {
    cursor: pointer;
}

.wp-block-uagb-table-of-contents.uagb-toc__collapse .uagb-toc__list-wrap {
    display: none;
}

.uagb-block-903894d2 .uagb-toc__list-wrap {
    column-count: 2;
    overflow: hidden;
}

.uagb-block-903894d2 .uagb-toc__title {
    font-weight: 500;
    font-size: 31.2px;
    color: #0693e3;
}

.wp-block-uagb-table-of-contents .uag-toc__collapsible-wrap {
    margin-left: 10px;
    display: flex;
    cursor: pointer;
}

.wp-block-uagb-table-of-contents .uag-toc__collapsible-wrap svg {
    width: 20px;
    height: 20px;
}

.wp-block-uagb-table-of-contents ul.uagb-toc__list {
    margin-left: 1.2em;
    padding-left: 0;
    margin-bottom: 0;
}

.uagb-block-903894d2 .uagb-toc__list-wrap ul.uagb-toc__list:first-child {
    margin-left: 31px;
    margin-right: 31px;
    margin-top: 11px;
    margin-bottom: 11px;
}

.wp-block-uagb-table-of-contents ul.uagb-toc__list li {
    margin: 0;
}

.uagb-block-903894d2 .uagb-toc__list-wrap>ul.uagb-toc__list>li:first-child {
    padding-top: 0;
}

.wp-block-uagb-table-of-contents .uagb-toc__list-wrap ul li a {
    color: inherit;
    line-height: inherit;
    font-size: inherit;
}

.uagb-block-903894d2 .uagb-toc__list-wrap ul li a {
    color: #333;
}

@media (min-width: 782px) {
    .wp-block-columns {
        flex-wrap: nowrap;
    }
}

@media (min-width: 782px) {
    .wp-block-column {
        flex-basis: 0%;
        flex-grow: 1;
    }
}

.wp-block-columns {
    display: flex;
    margin-bottom: 28px;
    flex-wrap: wrap;
}

.wp-block-column {
    flex-grow: 1;
    min-width: 0;
    word-break: break-word;
    overflow-wrap: break-word;
}

.broker-thumb-img {
    display: block;
    max-width: 230px;
    margin-bottom: 20px;
}

div.wpforms-container-full,
div.wpforms-container-full .wpforms-form * {
    background: none;
    border: 0 none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    float: none;
    font-size: 100%;
    height: auto;
    letter-spacing: normal;
    list-style: none;
    outline: none;
    position: static;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    width: auto;
    visibility: visible;
    overflow: visible;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

div.wpforms-container-full {
    margin-bottom: 24px;
}

div.wpforms-container-full .wpforms-form .wpforms-field {
    padding: 10px 0;
    clear: both;
}

div.wpforms-container-full .wpforms-form .wpforms-field-label {
    display: block;
    font-weight: 700;
    font-size: 16px;
    float: none;
    line-height: 1.3;
    margin: 0 0 4px 0;
    padding: 0;
}

div.wpforms-container-full .wpforms-form .wpforms-required-label {
    color: red;
    font-weight: 400;
}

div.wpforms-container-full .wpforms-form input.wpforms-field-medium,
div.wpforms-container-full .wpforms-form select.wpforms-field-medium,
div.wpforms-container-full .wpforms-form .wpforms-field-row.wpforms-field-medium {
    max-width: 60%;
}

div.wpforms-container-full .wpforms-form .wpforms-field .wpforms-field-row:last-of-type {
    margin-bottom: 0;
}

div.wpforms-container-full .wpforms-form .wpforms-first {
    clear: both!important;
    margin-left: 0!important;
}

div.wpforms-container-full .wpforms-form .wpforms-one-half,
div.wpforms-container-full .wpforms-form .wpforms-three-sixths,
div.wpforms-container-full .wpforms-form .wpforms-two-fourths {
    width: 48%;
}

div.wpforms-container-full .wpforms-form input[type=date],
div.wpforms-container-full .wpforms-form input[type=datetime],
div.wpforms-container-full .wpforms-form input[type=datetime-local],
div.wpforms-container-full .wpforms-form input[type=email],
div.wpforms-container-full .wpforms-form input[type=month],
div.wpforms-container-full .wpforms-form input[type=number],
div.wpforms-container-full .wpforms-form input[type=password],
div.wpforms-container-full .wpforms-form input[type=range],
div.wpforms-container-full .wpforms-form input[type=search],
div.wpforms-container-full .wpforms-form input[type=tel],
div.wpforms-container-full .wpforms-form input[type=text],
div.wpforms-container-full .wpforms-form input[type=time],
div.wpforms-container-full .wpforms-form input[type=url],
div.wpforms-container-full .wpforms-form input[type=week],
div.wpforms-container-full .wpforms-form select,
div.wpforms-container-full .wpforms-form textarea {
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 2px;
    color: #333;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: block;
    float: none;
    font-size: 16px;
    border: 1px solid #ccc;
    padding: 6px 10px;
    height: 38px;
    width: 100%;
    line-height: 1.3;
}

div.wpforms-container-full .wpforms-form .wpforms-field-sublabel {
    display: block;
    font-size: 13px;
    float: none;
    font-weight: 400;
    line-height: 1.3;
    margin: 4px 0 0;
    padding: 0;
}

div.wpforms-container-full .wpforms-form .wpforms-five-sixths,
div.wpforms-container-full .wpforms-form .wpforms-four-sixths,
div.wpforms-container-full .wpforms-form .wpforms-four-fifths,
div.wpforms-container-full .wpforms-form .wpforms-one-fifth,
div.wpforms-container-full .wpforms-form .wpforms-one-fourth,
div.wpforms-container-full .wpforms-form .wpforms-one-half,
div.wpforms-container-full .wpforms-form .wpforms-one-sixth,
div.wpforms-container-full .wpforms-form .wpforms-one-third,
div.wpforms-container-full .wpforms-form .wpforms-three-fourths,
div.wpforms-container-full .wpforms-form .wpforms-three-fifths,
div.wpforms-container-full .wpforms-form .wpforms-three-sixths,
div.wpforms-container-full .wpforms-form .wpforms-two-fourths,
div.wpforms-container-full .wpforms-form .wpforms-two-fifths,
div.wpforms-container-full .wpforms-form .wpforms-two-sixths,
div.wpforms-container-full .wpforms-form .wpforms-two-thirds {
    float: left;
    margin-left: 4%;
    clear: none;
}

div.wpforms-container-full .wpforms-form .wpforms-field-hp {
    display: none!important;
    position: absolute!important;
    left: -9000px!important;
}

div.wpforms-container-full .wpforms-form textarea.wpforms-field-medium {
    height: 120px;
}

div.wpforms-container-full .wpforms-form .wpforms-submit-container {
    padding: 10px 0 0 0;
    clear: both;
    position: relative;
}

div.wpforms-container-full .wpforms-form input[type=submit],
div.wpforms-container-full .wpforms-form button[type=submit],
div.wpforms-container-full .wpforms-form .wpforms-page-button {
    background-color: #eee;
    border: 1px solid #ddd;
    color: #333;
    font-size: 1em;
    padding: 10px 15px;
}